source ~/.sharedvimrc

" https://github.com/tpope/vim-surround
set surround

nnoremap ZB :action Annotate<CR> :action Annotate<CR>
nnoremap gn :action GotoNextError<CR>
nnoremap gF :action FindUsages<CR>
nnoremap gf :action FindUsagesInFile<CR>
nnoremap == :action ReformatCode<CR>:action OptimizeImports<CR>

" Uses vim to switch tab instead of the intellij tab switcher
noremap <C-Tab> gt
noremap <S-C-Tab> gT

inoremap <C-f> <Esc>:action SearchEverywhere<CR>
nnoremap <C-f> :action SearchEverywhere<CR>
nnoremap ZV :action IntroduceVariable<CR>i
nnoremap <leader><leader> :nohls<CR>
nnoremap R :action Hotswap<CR>
nnoremap ZQ :action CloseAllEditorsButActive<CR>
inoremap <ESC> <ESC><ESC>
