source ~/.sharedvimrc

"Emule le plugin vim-surround: https://github.com/tpope/vim-surround
set surround

nnoremap ZB :action Annotate<CR> :action Annotate<CR>
nnoremap gn :action GotoNextError<CR>
nnoremap gf :action FindUsages<CR>
nnoremap gF :action FindUsagesInFile<CR>
